#content {
  .layoutOption {
    @media screen and (max-width: 993px) {
      flex-direction: column;
      align-items: center;
      gap: 0px;
    }
    .boxImage {
      z-index: 10;

      @media screen and (max-width: 993px) {
        position: relative;
        bottom: -50px;
      }
    }
    .optionList {
      @media screen and (max-width: 993px) {
        width: 100%;
        max-width: 450px;
        padding: 0 20px;
      }
      .optionItem {
        @media screen and (max-width: 993px) {
          width: 100%;
        }
      }
    }
  }
  .listAssistant {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    @media screen and (max-width: 993px) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .box-image img {
      border-radius: 50%;
      border: 2px solid #fff;
    }
    .box-flag {
      width: 32px;
      height: 22px;
      border-radius: 3px;
      border: 2px solid #fff;
    }
    .box-flag img {
      background-position: center;
      position: relative;
      top: -5px;
    }
  }
}
