.layoutContentRight {
  padding: 75px 20px 20px 20px;
  width: 40%;
  position: relative;
  gap: 32px;
  @media screen and (max-width: 1280px) {
    width: 45%;
  }
  @media screen and (max-width: 993px) {
    width: 100%;
    min-height: 80vh;
    max-width: 533px;
    margin: 0 auto;
  }

  .layoutMessage {
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    ::-webkit-scrollbar {
      display: none;
    }
    .boxBack {
      position: absolute;
      top: 10px;
      left: 20px;
      cursor: pointer;
    }
  }

  .loading {
    position: absolute;
    inset: 0;
    opacity: 0.5;
    background: #000;
    border-radius: 45px;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttonVolume {
    background-color: transparent !important;
    border: none;
    text-align: center;
    cursor: pointer;
  }
  .button {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    border: none;
    background: rgba(125, 125, 125, 1);
    position: relative;
    cursor: pointer;
    .imageTranslate {
      position: absolute;
      top: 32%;
      left: 33%;
    }
    .imagelight {
      position: absolute;
      top: 27%;
      left: 29%;
    }
  }
  .inputSend {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border-radius: 23px;
    outline: none;
    border: none;
    padding: 0 16px;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
  }
  .buttonSend {
    border: none;
    border-radius: 0 23px 23px 0;
    background-color: transparent;
    padding-right: 16px;
  }
  .buttonRecord {
    background-color: transparent;
    border-radius: 50%;
    border: none;
  }
  .boxMessage {
    .audio {
      display: none;
    }
    .textMessage {
      font-size: 19px;

      @media screen and (max-width: 993px) {
        font-size: 16px;
      }
    }
  }

  .imageChat {
    width: 40px;
    height: 40px;
    border-radius: 50px;
  }
}
